In [3]:
import pandas as pd 
# importa a biblioteca pandas para o meu programa
# Como o pandas podemos importar tabelas ou um banco de dados e criar um dataframe

# Aqui fica o endereço da fonte de dados
font = "https://github.com/alura-cursos/imersao-dados-2-2020/blob/master/MICRODADOS_ENEM_2019_SAMPLE_43278.csv?raw=true"

# com esse comando, logo abaixo, criamos nosso dataframe 
dados = pd.read_csv(font)

# Esse comando podemos mostrar as cincos primeira linhas do nosso dataframe; mas esse valor pode ser mudado
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004661,2019,1506138,Redenção,15,PA,17,M,1,3,...,A,A,A,A,B,A,C,A,B,B
1,190001004674,2019,1504208,Marabá,15,PA,23,M,1,3,...,A,A,A,B,A,A,B,A,A,B
2,190001004722,2019,1501402,Belém,15,PA,35,F,2,1,...,A,A,A,B,A,B,B,A,A,B
3,190001004735,2019,1507300,São Félix do Xingu,15,PA,23,F,1,3,...,A,A,A,B,A,A,B,A,A,B
4,190001004776,2019,1500800,Ananindeua,15,PA,16,F,1,3,...,A,A,A,B,A,A,D,A,A,B

In [6]:
# O pandas suporta a integração com muitos formatos de arquivo ou fontes de dados fora da caixa 
# (csv, excel, sql, json, parquet, ...). Importando dados de cada um deles as fontes de dados são fornecidas por 
# função com o prefixo read_*. Da mesma forma, os to_*métodos são usados ​​para armazenar dados.

In [5]:
dados.shape
# Aqui mostra a quantidade de linhas e coluna que tem o nosso dataframe

(127380, 136)

In [7]:
# O dados.shape retornou uma tupla. Se quisermos retornar um elemento da tupla, basta só, entre parentese, colocar 
# o número do elemento.
dados.shape[0] # vai retorna 127380 o número de linhas desse dataframe

127380

In [8]:
# se eu quiser uma coluna especifica basta eu colocar entre parentese o nome da coluna, da mesma forma que está
# escrito no dataframe.
dados["SG_UF_RESIDENCIA"]

0         PA
1         PA
2         PA
3         PA
4         PA
          ..
127375    MG
127376    BA
127377    BA
127378    BA
127379    MG
Name: SG_UF_RESIDENCIA, Length: 127380, dtype: object

In [10]:
# retornar os das colunas
dados.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_TEMPO_ADICIONAL', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025'], dtype=object)

In [11]:
# Para imprimir mais de uma coluna é preciso passar o nome das colunas dentro de uma lista
dados[["NU_IDADE", "Q015"]]

        NU_IDADE Q015
0             17    A
1             23    A
2             35    A
3             23    A
4             16    A
...          ...  ...
127375        17    A
127376        18    A
127377        22    A
127378        26    A
127379        19    B

[127380 rows x 2 columns]

In [15]:
# separar a quantidade de candidatos pelo estado de nascimento 
estados = dados["SG_UF_RESIDENCIA"].unique()
len(estados)
# a variável estados grava a quantidade de estados que participaram do enem 2019

27

In [16]:
dados["SG_UF_RESIDENCIA"].value_counts()

SP    20264
MG    13547
BA    10040
RJ     8467
CE     7381
PA     7170
PE     6941
MA     5543
RS     5466
PR     5259
GO     4268
PB     3690
PI     3034
RN     2959
AM     2820
SC     2673
ES     2550
DF     2408
AL     2263
MT     2230
SE     1815
MS     1655
RO     1400
TO     1178
AP     1047
AC      946
RR      366
Name: SG_UF_RESIDENCIA, dtype: int64

In [21]:
faixa_etaria = dados["NU_IDADE"].value_counts()
faixa_etaria

18    21452
17    21256
19    14418
20    10413
16     7830
      ...
75        2
73        2
82        1
77        1
76        1
Name: NU_IDADE, Length: 65, dtype: int64

In [22]:
len(faixa_etaria)

65

In [26]:
#### Desafio 1: Proporção dos inscrito por idade. ####
print("Sigla do Estado x Proporção de quandidado por estado")
for x in range(0, len(estados)):
  percentual = round((dados["SG_UF_RESIDENCIA"].value_counts()[x]/dados.shape[0])*100, 3)
  
  print(dados["SG_UF_RESIDENCIA"].value_counts().index[x], end=" ")
  print(" X ", end=" ")
  if(percentual < 10):
    print("0", end="")
    print(percentual, end="")
  else:
    print(percentual, end="")
  print("%")

Sigla do Estado x Proporção de quandidado por estado
SP  X  15.908%
MG  X  10.635%
BA  X  07.882%
RJ  X  06.647%
CE  X  05.794%
PA  X  05.629%
PE  X  05.449%
MA  X  04.352%
RS  X  04.291%
PR  X  04.129%
GO  X  03.351%
PB  X  02.897%
PI  X  02.382%
RN  X  02.323%
AM  X  02.214%
SC  X  02.098%
ES  X  02.002%
DF  X  01.89%
AL  X  01.777%
MT  X  01.751%
SE  X  01.425%
MS  X  01.299%
RO  X  01.099%
TO  X  00.925%
AP  X  00.822%
AC  X  00.743%
RR  X  00.287%

In [31]:
#### Desafio 2: Descobrir de quais estados são os incritos com 13 anos. ####
idades_dos_candidatos = dados["NU_IDADE"]
residencia_dos_candidatos = dados["SG_UF_RESIDENCIA"]

In [33]:
len(idades_dos_candidatos)

127380

In [40]:
faixa_etaria.sort_index()

13        4
14      141
15     2009
16     7830
17    21256
      ...
73        2
75        2
76        1
77        1
82        1
Name: NU_IDADE, Length: 65, dtype: int64

In [51]:
print("Os alunos com 13 anos de idades que fizeram o enem 2019")
pos = 1

for x in range(0, dados.shape[0]):
    if(dados["NU_IDADE"][x] == 13):
        posicao = dados["NU_IDADE"].index[x]
        print("Estado: ", dados["SG_UF_RESIDENCIA"][posicao], end="            ")
        print("Municipio: ", dados["NO_MUNICIPIO_RESIDENCIA"][posicao], end="  ")
        print("Sexo: ", dados["TP_SEXO"][posicao])

Os alunos com 13 anos de idades que fizeram o enem 2019
Estado:  SP            Municipio:  Atibaia  Sexo:  F
Estado:  MT            Municipio:  Rondonópolis  Sexo:  M
Estado:  AP            Municipio:  Macapá  Sexo:  M
Estado:  BA            Municipio:  Jacobina  Sexo:  M